@font-face {
    font-family: 'Nova Pro';
    src: url('nova-pro-400.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nova Pro';
    src: url('nova-pro-500.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nova Pro';
    src: url('nova-pro-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nova Pro';
    src: url('nova-pro-900.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avant Ique';
    src: url('avant-ique-400.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avant Ique';
    src: url('avant-ique-600.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avant Ique';
    src: url('avant-ique-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
